* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;


}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.container {

    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;


}

.fondo {
    background: #ef32d9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89fffd, #ef32d9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100%;
    height: 110px;
}

.container-card,
.info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info {
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.info img {
    width: 200px;
    height: 200px;
    margin: -90px 50px 20px 50px;
    clip-path: circle(50% at 50% 50%);
    background-color: white;
}

.info span {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.info p {
    color: rgb(78, 73, 73);
    display: inline;
}

.other-info {
    display: flex;
    gap: 20px;
    padding: 30px 20px;
    justify-content: center;
    border-top: 1px solid rgb(78, 73, 73);

}

.info-gral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    text-align: center;
}